<div>
  <div>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
  <br>
  {{!-- ------------------------------------- --}}
  <div class="d-flex flex-row h-10">
    {{#each flags}}
    <form action="/dashboard" method="POST">
      <input type="hidden" name="flag" id="flags" value="{{this.init}}">
      <ul class="nav justify-content-end d-flex flex-wrap">
        <li class="nav-item">
          <button class="h-10" type="submit">
            <img class="img-thumbnail" src={{this.image}} alt={{this.init}} style="size: 1vw;">
          </button>
        </li>
      </ul>
    </form>
    {{/each}}
  </div>

  {{!-- ------------------------------------- --}}

  <div class="justify-content-center">
    <h1 class="dashboard-h1">We know you love <span style="text-decoration: line-through">Owls</span> news</h1>
    <h2 class="dashboard-h1">Choose your preferences!</h2>
  </div>
  <form action="/dashboard" method="POST" class="searchbar">
    <input id="myInput" type="text" name="keyword" placeholder="Search">
    <button type="submit">Search</button>
  </form>
  <form action="/dashboard" method="POST" class="searchbar">
    {{#with user}}
    <input id="myInput" type="text" name="keyword" value={{keyword}}>
    {{/with}}
    <button type="submit">lets go filtered</button>
  </form>
  ​

  ​
  <div class="container">
    {{#each articlesList}}
    <div class="article-container">
      <p>{{this.source.name}}</p>
      <a href="{{this.url}}">
        <img src="{{this.urlToImage}}" alt="{{this.title}}">
        <h2>{{this.title}}</h2>
        <h3 style="font-size: 10px;">{{this.author}}</h3>
      </a>
    </div>
    {{/each}}

  </div>
</div>