<div class="main-container d-flex justify-content-center">
  <div class="d-flex flex-column">
    <div class="p-2">
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" href="/logout">Logout</a>
        </li>
      </ul>
      <div class="flags-row">
        {{#each flags}}
        <form action="/dashboard" method="POST">
          <input type="hidden" name="flag" id="flags" value="{{this.init}}">
          <div>
            <button class="btn btn-outline" type="submit">
              <img class="flags-little" src={{this.image}} alt={{this.init}}>
            </button>
        </form>
      </div>
      {{/each}}
    </div>
  </div>
  <br>
  {{!-- ------------------------------------- --}}

  {{!-- ------------------------------------- --}}

  <div class="p-2 flex-column align-content-center">
    <div class="p-2 d-flex flex-column">
      <h1 class="text-center">We know you love <span style="text-decoration: line-through">Owls</span> news</h1>
    </div>
    <div class="row justify-content-center">
      <h4 class=" text-center">Search for a topic or get filtered!</h2>
    </div>
    <br>
    <div class="p-2 d-flex flex-column">
      <div class="d-flex flex-column">
        <form action="/dashboard" method="POST" class="searchbar">
          <div class="input-group">
            <input class="form-control" id="myInput" type="text" name="keyword" placeholder="Search">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit">Search</button>
            </div>
          </div>
        </form>
        <br>
        <div class="d-flex flex-wrap">
          <form action="/dashboard" method="POST" class="searchbar">
            {{#with user}}
            <input id="myInput" type="text" name="keyword" value={{keyword}}>
            {{/with}}
            <button class="btn btn-dark glow-on-hover" type="submit">Let´s go filtered</button>
          </form>

        </div>
      </div>
      ​
    </div>
  </div>

  ​<div class="article-box d-flex flex-column text-align-center">
    <div class="p-2 d-flex flex-wrap">
      {{#each articlesList}}
      <div class="box flex-column">
        <p style="text-align: center;">{{this.source.name}}</p>
        <a href="{{this.url}}">
          <img class="article-images" src="{{this.urlToImage}}" alt="{{this.title}}">
          <h2 style="text-align: center" class=" h2-dashboard">{{this.title}}</h2>
          {{!-- <h3 style="font-size: 10px;">{{this.author}}</h3> --}}
        </a>
      </div>
      {{/each}}

    </div>
  </div>
</div>