<div>
  <div>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
  <br>
  {{!-- ------------------------------------- --}}
  <div class="flags">
    {{#each flags}}
    <form action="/dashboard" method="POST" class="button">
      <input type="hidden" name="flag" id="flags" value="{{this.init}}">
      <button type="submit">
        <img src={{this.image}} alt={{this.init}}>
      </button>
    </form>
    {{/each}}
  </div>

  {{!-- ------------------------------------- --}}

  <div class="justify-content-center">
    <h1 class="dashboard-h1">We know you love <span style="text-decoration: line-through">Owls</span> news</h1>
    <h2 class="dashboard-h1">Choose your preferences!</h2>
  </div>
  <form action="/dashboard" method="POST" class="searchbar">
    <input id="myInput" type="text" name="keyword" placeholder="Search">
    <button type="submit">Search</button>
  </form>
  <form action="/dashboard" method="POST" class="searchbar">
    {{#with user}}
    <input id="myInput" type="text" name="keyword" value={{keyword}}>
    {{/with}}
    <button type="submit">lets go filtered</button>
  </form>
  ​
  ​
  <div class="container">
    {{#each articlesList}}
    <div class="article-container">
      <p>{{this.source}}</p>
      <a href="{{this.url}}">
        <img src="{{this.urlToImage}}" alt="{{this.title}}">
        <h2>{{this.title}}</h2>
      </a>
    </div>
    {{/each}}
  </div>
</div>