<div class="main-container d-flex justify-content-center">
  <div class="d-flex flex-column ml-3">
    <div class="p-2">
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" style="color: black" href="/onboarding">My filter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" style="color: black" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
    <div class="d-flex flex-column ml-3">
      <div class="p-2 flags-row justify-content-center">
        {{#each flags}}
        <form action="/dashboard" method="POST">
          <input type="hidden" name="flag" id="flags" value="{{this.init}}">
          <div>
            <button class="btn btn-outline" type="submit">
              <img class="flags-little" src={{this.image}} alt={{this.init}}>
            </button>
        </form>
      </div>
      {{/each}}
    </div>
  </div>
  <br>
  {{!-- ------------------------------------- --}}

  {{!-- ------------------------------------- --}}

  <div class="p-2 flex-column align-content-center" style="background-color:black">
    <br>
    <div class="p-2 d-flex flex-column">
      <h1 class="text-center" style="color: white; webkit-text-stroke: 2px black; text-shadow: 2px 2px #06ff01">
        We know
        you love <span style="text-decoration: line-through">Owls</span> news!</h1>
    </div>
    <div class="p-2 d-flex flex-column">
      <div class="d-flex flex-column">
        <div class="d-flex justify-content-center">
          <form action="/dashboard" method="POST" class="searchbar">
            {{#with user}}
            <input id="myInput" type="hidden" name="keyword" value={{keyword}}>
            {{/with}}
            <div class="d-flex flex-row justify-content-center">
              <br>
              <button class="btn btn-dark glow-on-hover" style="border-color: white" type="submit">Let´s go
                filtered</button>
            </div>
          </form>
        </div>
        <br>
        <div class="row justify-content-center">
          <p class=" text-center" style="color: darkgrey">...or search for a different topic</p>
        </div>
        <div>
          <div class="d-flex justify-content-center">
            <form action="/dashboard" method="POST" style="color: black;" class="searchbar">
              <div class="input-group">
                <input class="form-control" id="myInput" style="color: black" type="text" name="keyword"
                  placeholder="Search">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" style="color: white; border-color: white" type="submit"
                    style="color: white">Search</button>
                </div>
              </div>
            </form>
          </div>
        </div>


      </div>
      ​
    </div>
  </div>

  ​<div class="article-box d-flex flex-column text-align-center">
    <div class="p-2 d-flex flex-wrap justify-content-center">
      {{#each articlesList}}
      <div class=" box flex-column flex bd-highlight" style="max-width: 20vw;">
        <p style="text-align: center;">{{this.source.name}}</p>
        <a href="{{this.url}}">
          <img class="article-images" src="{{this.urlToImage}}" alt="{{this.title}}">
          <h2 style="text-align: center" class=" h2-dashboard">{{this.title}}</h2>
          {{!-- <h3 style="font-size: 10px;">{{this.author}}</h3> --}}
        </a>
      </div>
      {{/each}}

    </div>
  </div>
</div>